<form action="" method="post">
  {% csrf_token %}
  {% for field in form %}
    {{field.label_tag}}
    {{ field }}
    {{ field.errors}}
  {% endfor %}
  <button type="submit" placeholder="Submit">Submit</button>
</form>
