<form action={% url 'add'%} method="post">
    {% csrf_token%}
    <input type="text" name="item" placeholder="Enter the items"><br><br>
    <input type="number" name="cost" placeholder="Enter the price of the items."><br><br>
    <input type="submit" placeholder="Submit">
</form>
