This is the Transactions page {{ sudip }}
<ul>
  {% for transcation in transactions %}
    <li>{{ transcation.id }}|| {{ transcation.user }} || {{ transcation.item }} ||  {{ transcation.cost }} </li>
  {% endfor %}
</ul>
