This is the Transactions page
<ul>
  {% for transaction in transactions %}
    <li>{{ transaction.id }} || <a href="/kharcha/{{ transaction.id }}/">{{ transaction.item }}</a> ||  {{ transaction.cost }} </li>
  {% endfor %}
</ul>
