Hello {{ user }} <br/><br/>

<a href="/kharcha/add"><button>Add an item</button></a> <br/><br/>
<a href="/kharcha/mybill"><button>View my bills</button></a> <br/><br/>
<a href="/kharcha/allbill"><button>View all transcations</button></a> <br/><br/>
<a href=""><button>Pay my bills</button></a> <br/><br/>

<a href="/logout">LOG OUT</a>
