this is the login page that you are looking for.
<form action={% url 'login' %} method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="enter your email or phone number."><br/><br/>
  <input type="text" name="password" placeholder="enter your password"><br/><br/>
  <input type="submit" placeholder="submit">
</form>
