<h2>SignUp</h2>
<form action={% url 'signup' %} method="post">
  {% csrf_token %}
    <input type="text" name="first_name" placeholder="first_name"><br/><br/>
    <input type="text" name="last_name" placeholder="last_name"><br/><br/>
    <input type="text" name="email" placeholder="email"><br/><br/>
    <input type="text" name="phone" placeholder="phone"><br/><br/>
    <input type="text" name="password" placeholder="password"><br/><br/>    
    <input type="submit" placeholder="Submit"><br/><br/>
</form>
